:root {
    --greenBG: #1CBC9C;
    --darkBG: #2D3E50;
}

/******* HEADER STYLE *******/
header {
    background-color: var(--darkBG);
}

header > nav > div {
    height: 5.625rem;
}

/******* MAIN STYLE *******/
#heroSec ,
#aboutSec , 
#contactSec button {
    background-color: var(--greenBG);
}

.heroLine {
    border: 2px solid;
}

/******* FOOTER STYLE *******/
footer > section:first-child {
    background-color: #3A546D;
}

.greenCol {
    color: var(--greenBG);
}

.socialIcon {
    width: 2rem;
    height: 2rem;
}

footer > section:last-child {
    background-color: var(--darkBG);
}