:root {
    --greenBG: #1CBC9C;
    --blueFooter: #3A546D;
}

/******* HEADER STYLE *******/
header {
    background-color: #2D3E50;
}

header > nav > div {
    height: 5.625rem;
}
/******* MAIN STYLE *******/
/* Hero Section */
#heroSec ,
#aboutSec {
    background-color: var(--greenBG);
}

.heroLine {
    border: 2px solid;
}

/******* FOOTER STYLE *******/